
.header{
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10px;
    }

    &__link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        text-decoration: none;
    }

    &__title {
        color: #901C1C;
        margin-right: 100px;
    }

    &__logo {
        height: 50px;
        margin-left: 100px;
    }
}