* body {
  font-family: "DM Sans", sans-serif;
  margin: 20px;
}

.main {
  z-index: -1;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  text-decoration: none;
}
.header__title {
  color: #901C1C;
}
@media screen and (max-width: 1100px) {
  .header__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 390px) {
  .header__title {
    font-size: 20px;
  }
}
.header__logo {
  height: 50px;
}
@media screen and (max-width: 800px) {
  .header__logo {
    height: 40px;
  }
}
@media screen and (max-width: 390px) {
  .header__logo {
    height: 25px;
  }
}

.card__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 90px;
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  .card__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 390px) {
  .card__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.card__card {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: auto;
}
.card__link {
  cursor: pointer;
  text-decoration: none;
}
.card__image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 390px) {
  .card__image {
    margin-top: 20px;
    height: 150px;
    width: 150px;
  }
}
.card__name {
  font-weight: 36px;
  font-size: 26px;
  color: #D3573C;
  text-align: center;
  margin: 4px;
}
.card__cityAndCountry {
  color: #D3573C;
  font-size: 16px;
  margin: 0;
}
.card__info {
  font-size: 13px;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .card__info {
    text-align: center;
  }
}
.card__price {
  margin: 4px;
}

.photographer__header {
  padding: 1rem 0;
}
.photographer__nav {
  border-color: initial;
}
.photographer__items {
  padding-top: 1em;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}
.photographer__logo {
  width: 160px;
  margin-right: 1em;
}
@media screen and (max-width: 390px) {
  .photographer__logo {
    width: 130px;
  }
}
.photographer__container {
  width: 100%;
  display: flex;
  border: 2px solid red;
}
@media screen and (max-width: 390px) {
  .photographer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.photographer__cube {
  background-color: #FAFAFA;
  border-radius: 5px;
  display: flex;
  padding: 1.5em;
  justify-content: space-between;
  margin-top: 0;
}
@media screen and (max-width: 390px) {
  .photographer__cube {
    display: flex;
    flex-direction: column;
    background-color: none;
    margin-bottom: 20px;
  }
}
.photographer__info {
  display: flex;
}
@media screen and (max-width: 390px) {
  .photographer__info {
    flex-direction: column;
  }
}
.photographer__portrait {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photographer__imgPortrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
@media screen and (max-width: 390px) {
  .photographer__imgPortrait {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;
    margin-top: 10px;
  }
}
.photographer__infoPerso {
  margin-right: 2em;
}
@media screen and (max-width: 390px) {
  .photographer__infoPerso {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
}
.photographer__infoName {
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 0.1em;
  margin-top: -10px;
  color: #D3573C;
}
@media screen and (max-width: 390px) {
  .photographer__infoName {
    font-size: 25px;
    display: flex;
    align-items: center;
  }
}
.photographer__infoCountry {
  color: #D3573C;
  font-weight: 400;
  font-size: 1rem;
  margin: 0px;
}
.photographer__infoTag {
  color: #757575;
  margin-top: 0px;
  line-height: 1.2em;
}
@media screen and (max-width: 390px) {
  .photographer__infoTag {
    font-size: 10px;
    display: flex;
    align-items: center;
  }
}
.photographer____divButton {
  display: flex;
  justify-content: center;
}
.photographer__button {
  background-color: #901C1C;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 3.1rem;
  color: white;
  margin-left: 90px;
  cursor: pointer;
}
@media screen and (max-width: 390px) {
  .photographer__button {
    margin-top: 20px;
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 0;
    position: fixed;
    top: 30rem;
    z-index: 10;
  }
}
.photographer__likePriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  border-radius: 0.6rem 0.6rem 0 0;
  position: fixed;
  bottom: 0;
  width: auto;
  height: auto;
  right: 5%;
  margin-left: 5px;
}
@media screen and (max-width: 390px) {
  .photographer__likePriceContainer {
    z-index: 10;
  }
}
.photographer__totalLikePriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: large;
  text-align: center;
}
.photographer__heartOfLike {
  font-weight: bold;
  font-size: large;
  text-align: center;
}
.photographer__price {
  margin-left: 5px;
}
.photographer__numberOfLikeAndPrice {
  font-weight: 500;
  font-size: large;
  text-align: center;
  padding: 0.5rem;
}
@media screen and (max-width: 390px) {
  .photographer__numberOfLikeAndPrice {
    font-size: small;
  }
}
@media screen and (max-width: 390px) {
  .photographer____coeurTotal {
    height: 0px;
  }
}
.photographer__numberPrice {
  font-weight: 500;
  font-size: large;
  text-align: center;
  padding: 0.5rem;
}
@media screen and (max-width: 390px) {
  .photographer__numberPrice {
    font-size: small;
  }
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.arrow::before {
  left: -0.5rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
}

.arrow::after {
  left: 0.5rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: white;
}

.contact__section {
  display: none;
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  top: 50px;
}
@media screen and (max-width: 390px) {
  .contact__section {
    top: 0;
    display: flex;
    left: 0;
  }
}
.contact__modal {
  position: relative;
  border-radius: 5px;
  background-color: #DB8876;
  width: 420px;
  padding: 1em 1.5em;
  margin: auto;
}
@media screen and (max-width: 390px) {
  .contact__modal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
  }
}
.contact__header {
  display: flex;
  justify-content: space-between;
}
.contact__headerTitle {
  width: 90%;
}
.contact__btnClose {
  background: none;
  border: none;
}
.contact__img {
  cursor: pointer;
  width: 20px;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 390px) {
  .contact__form {
    height: 450px;
  }
}
.contact__label {
  color: #312E2E;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}
.contact__formInput {
  border-radius: 5px;
  border: none;
  height: 40px;
  margin-bottom: 1rem;
}
.contact__textarea {
  border-radius: 5px;
  resize: none;
  height: 100px;
  margin-bottom: 1em;
  border: none;
  font-family: inherit;
  width: 100%;
}
.contact__button {
  font-size: 1rem;
  color: white;
  width: 130px;
  height: 35px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 390px) {
  .contact__button {
    z-index: 10;
  }
}
.contact__alert {
  color: #901C1C;
  font-size: 0.8rem;
  margin-top: -0.9rem;
  margin-bottom: 1rem;
}

#contact_modal {
  display: none;
}

.flexCentre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardMedia__mediaGalerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10rem;
  position: relative;
  margin-top: 2rem;
}
@media screen and (max-width: 1000px) {
  .cardMedia__mediaGalerie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (max-width: 390px) {
  .cardMedia__mediaGalerie {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
  }
}
.cardMedia__filter {
  width: 30vw;
  height: 15rem;
  margin-top: 5rem;
}
@media screen and (max-width: 1000px) {
  .cardMedia__filter {
    width: 40vw;
  }
}
@media screen and (max-width: 390px) {
  .cardMedia__filter {
    width: 90vw;
  }
}
.cardMedia__img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  margin-bottom: -1rem;
}
.cardMedia__mediaFooter {
  margin-top: 0.5rem;
  padding: 0% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardMedia__titleContenu {
  margin: 0;
  font-weight: 400;
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 1rem;
  text-overflow: ellipsis;
  color: #901C1C;
}
.cardMedia__footerLike {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardMedia__compteurLike {
  margin: 0.5rem;
  color: #901C1C;
}
.cardMedia__like {
  border: none;
  background: none;
  text-align: center;
  color: #901C1C;
  font-size: 1rem;
  cursor: pointer;
}
.cardMedia__like.active i {
  color: #901C1C;
}

.lightbox__section {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 219, 219, 0.7);
}
.lightbox__windows {
  color: #901C1C;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-animation: apparition-down 0.8s ease-in-out;
  animation: apparition-down 0.8s ease-in-out;
}
.lightbox__containerSlides {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: white;
}
.lightbox__commandes {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.lightbox__left {
  top: 40%;
  left: 7%;
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.lightbox__right {
  top: 40%;
  right: 7%;
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.lightbox__iconLeft {
  font-size: 40px;
  position: relative;
  color: #901C1C;
  top: 40%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  left: 10%;
}
.lightbox__iconRight {
  font-size: 40px;
  position: relative;
  color: #901C1C;
  top: 40%;
  transform: translate(50%);
  -webkit-transform: translate(50%);
  right: 7%;
}
.lightbox__close {
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  top: 2%;
  right: 7%;
  font-size: x-large;
  cursor: pointer;
  color: #901C1C;
}
.lightbox__img {
  margin: auto;
  height: 85%;
  width: 70%;
  position: absolute;
  border-radius: 0.6rem;
  background-color: #868686;
  -o-object-fit: cover;
  object-fit: cover;
}
.lightbox__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: absolute;
  height: 85%;
  width: 70%;
  border-radius: 0.6rem;
  background-color: #868686;
  -o-object-fit: cover;
  object-fit: cover;
}
.lightbox__titreMedia {
  position: absolute;
  margin-right: 10%;
  bottom: 2%;
  left: 15%;
  margin: auto;
  font-size: 1rem;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

@media screen and (min-width: 76.8rem) {
  .lightbox .lightbox-windows {
    width: 100%;
    height: 100%;
  }
}
.px-app,
.px-app *,
.px-app *::before,
.px-app *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.px-dropdown {
  position: relative;
  display: flex;
  width: 290px;
  height: 55px;
  z-index: 5;
  margin-left: 1rem;
  margin-top: 20px;
}
@media screen and (max-width: 390px) {
  .px-dropdown {
    display: none;
  }
}

.dropdown__title {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.px-dropdown-input {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: #901C1C;
  border-radius: 5px;
  background-color: #901C1C;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: 300ms ease;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
}

.px-dropdown.active .px-dropdown-input {
  border-color: white;
}

.px-dropdown-input input {
  color: white;
  font-size: 1.3rem;
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  padding: 0 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.dropdown__chevron {
  font-size: 1.4rem;
  color: white;
  z-index: 10;
}
.dropdown__chevron:active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.px-dropdown-panel {
  position: absolute;
  width: 173px;
  left: 117px;
  font-size: 1.3rem;
  top: calc(100% + 50px);
  border-top: 1px solid white;
  border-radius: 5px;
  background-color: #901C1C;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: top 300ms ease, opacity 300ms ease;
  -webkit-transition: top 300ms ease, opacity 300ms ease;
  -moz-transition: top 300ms ease, opacity 300ms ease;
  -ms-transition: top 300ms ease, opacity 300ms ease;
  -o-transition: top 300ms ease, opacity 300ms ease;
}

.px-dropdown.active .px-dropdown-panel {
  top: 0px;
  opacity: 1;
  pointer-events: auto;
}

.px-dropdown-panel ul {
  list-style: none;
}

.px-dropdown-panel ul li {
  color: white;
  padding: 0.7rem 1rem;
  cursor: pointer;
  border-top: 1px solid white;
  transition: background-color 300ms ease;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
}

.px-dropdown-panel ul li:hover {
  background-color: #791313;
}

/*# sourceMappingURL=style.css.map */
