$backgroundProfilGrey : #FAFAFA;
$backgroundColorPrice: #b05744;
$backgroundLabelForm :  #312E2E;
$colorTextGrey : #757575;
$colorForm: #DB8876;

$colorCountry : #D3573C;
$btnColor: #901C1C;
$btnColorHover : #791313;

$colorWhite: white;
$colorBlack: black;
