.photographer{
    &__header{
        padding: 1rem 0;
    }
    &__nav{
        border-color: initial;
    }
    &__items{
        padding-top: 1em;
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__logo{
        width: 160px;
        margin-right: 1em;
        @media screen and (max-width: 390px){
            width: 130px;
        }
    }

    &__container{
        width: 100%;
        display: flex;
        border: 2px solid red;
        @media screen and (max-width: 390px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
    &__cube{
        background-color: $backgroundProfilGrey;
        border-radius: 5px;
        display: flex;
        padding: 1.5em;
        justify-content: space-between;
        //margin: 1rem;
        margin-top: 0;
        @media screen and (max-width: 390px) {
            display: flex;
            flex-direction: column;
            background-color: none;
            margin-bottom: 20px;
        }
    }

    &__info{
        display: flex;
        @media screen and (max-width: 390px) {
            flex-direction: column;
        }
    }

    &__portrait{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__imgPortrait{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        @media screen and (max-width: 390px){
            display: flex;
            justify-content: center;
            height: 120px;
            width: 120px;
            margin-top: 10px;
        }
    }
    &__infoPerso{
        margin-right: 2em;
        @media screen and (max-width: 390px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0;
        }
    }
    &__infoName{
        font-size: 2.2em;
        font-weight: 500;
        margin-bottom: 0.1em;
        margin-top: -10px;
        color: $colorCountry;
        @media screen and (max-width: 390px) {
            font-size: 25px;
            display: flex;
            align-items: center;
        }
    }
    &__infoCountry{
        color: $colorCountry;
        font-weight: 400;
        font-size: 1rem;
        margin: 0px;
    }
    &__infoTag{
        color: $colorTextGrey;
        margin-top: 0px;
        line-height: 1.2em;
        @media screen and (max-width: 390px) {
            font-size: 10px;
            display: flex;
            align-items: center;
        }
    }
    &____divButton{
        display: flex;
        justify-content: center;
    }
    &__button{
        background-color: $btnColor;
        color: $colorWhite;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        height: 3.1rem;
        color: $colorWhite;
        margin-left: 90px;
        cursor: pointer;
        @media screen and (max-width: 390px) {
            margin-top: 20px;
            width: 150px;
            height: 30px;
            margin-bottom: 20px;
            margin-left: 0;
            position: fixed;
            top: 30rem;
            z-index: 10;
      }
    }
    &__likePriceContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: red;
        border-radius:0.6rem 0.6rem 0 0;
        position: fixed;
        bottom: 0;
        width: auto;
        height: auto;
        right: 5%;
        margin-left: 5px;
        @media screen and (max-width: 390px) {
            z-index: 10;
        }
    }
    &__totalLikePriceContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: large;
        text-align: center;
    }
    &__heartOfLike{
        font-weight: bold;
        font-size: large;
        text-align: center;
        //padding: 0.5rem;
    }
    &__price{
        margin-left: 5px;
    }
    &__numberOfLikeAndPrice{
        font-weight: 500;
        font-size: large;
        text-align: center;
        padding: 0.5rem;
        @media screen and (max-width: 390px) {
            font-size: small;
        }
    }

    &____coeurTotal{
        @media screen and (max-width: 390px) {
            height: 0px;
        }
    }
    &__numberPrice{
        font-weight: 500;
        font-size: large;
        text-align: center;
        padding: 0.5rem;
        @media screen and (max-width: 390px) {
            font-size: small;
        }
    }
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.arrow::before {
  left: -0.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
}

.arrow::after {
  left: 0.5rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: white;
}




